:root{
    background-color: rgb(95, 97, 99);
    font-family: sans-serif;
    --lk-gray: rgb(190, 195, 199);
    --plu-gold: rgb(253, 205, 5);
    --lk-text-color: rgb(236, 240, 241);
    --header-size: 100px;
    --footer-size: 38px;
    overflow-x: hidden;
    overflow-y:auto
}


div.header{
    position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    width: 100%;
    height: var(--header-size);
    display: flex;
    background-color: black;
    justify-content: space-between;
    color: var(--lk-text-color);
    z-index: 1;
}

.background img{
    position: fixed;
    opacity: 50%;
    top: 10px;
    right: -15px;
}

div[id="nav"]{
    display: flex;
    flex-direction: row;
}

.header img{
    max-width: 100%;
    max-height: 100%;
}

button.headerButtons{
    position: relative;
    color: var(--lk-gray);
    font-size: 16px;
    font-weight: 700;
    padding: 30px;
    border-color: transparent;
    background-color: black;  
    height: 100%;
    flex: 0 1 auto;
}

button.headerButtons:hover{
    transform: translateY(-5px);
    color: var(--plu-gold);
}

footer{
    background-color: black;
    position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--footer-size);
    z-index: 1; /* Ensure footer is above content */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.links{
    position: absolute;
    left: 0px;
}

.logo{
    position: absolute;
    right:0px
}

footer img{
    height: var(--footer-size);
    width: auto;
}

#copyright{
    color: var(--lk-text-color);
    font-size: 12px;
    font-style: italic;
}

.content{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-y: auto;
    margin-bottom: var(--footer-size);
}

.main{
    display: flex;
    position: absolute;
    text-align: center;
    flex-direction: column;
    border: 2px groove var(--lk-text-color);
    background-color: rgb(233, 237, 238);
    width: 85%;
    padding-bottom: var(--footer-size);
}

.main .paragraphs{
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.main h1{
   font-family: 'Courier New'; 
}

.main p{
    text-indent: 25px;
   font-family: 'Courier New'; 
}

.searchbar{
    display: flex;
    justify-content: center;
}

input[id="searchvids"]{
    width: 50%;
    font-size: 25px;
}